.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  margin: 3rem 0;
  font-size: var(--font-size-small);
  color: #6b7280;
}

.footerNav {
  display: flex;
  flex-wrap: wrap;
}

.footerLink {
  padding: 0.5rem;

  color: inherit;

  &::before {
    opacity: 0;
    transition: opacity 150ms;
    animation-delay: 0ms;
  }

  &:hover::before {
    opacity: 1;
    animation-delay: 0ms;
  }

  &::after {
    content: unset;
  }
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .footerLink {
    color: #9ca3af;
  }

  .footerLink:hover {
    color: #ff7680;
  }
}
