@import 'tailwindcss';

@theme {
  --font-heading: 'Raleway', 'sans-serif';
  --font-body: 'Inter', 'sans-serif';
  --color-brand-lighter: #ff7680;
  --color-brand-light: #d05861;
  --color-brand: #ba3e48;
  --color-brand-dark: #8a2e35;
  --color-charcoal: #101212;
}

:root {
  --background: light-dark(#ffffff, #161618);
  --text-color: light-dark(#101212, #dfe0e2);
}

html {
  color-scheme: light dark;
}

html[data-theme='light'] {
  color-scheme: light;
}

html[data-theme='dark'] {
  color-scheme: dark;
}

html {
  background-color: var(--color-brand);
}

body {
  color: var(--text-color);
  background-color: var(--background);
  font-family: var(--font-body);
}
