@import 'tailwindcss';

@theme {
  --font-heading: 'Raleway', 'sans-serif';
  --font-body: 'Inter', 'sans-serif';
  --color-brand-lighter: #ff7680;
  --color-brand-light: #d05861;
  --color-brand: #ba3e48;
  --color-brand-dark: #8a2e35;
  --color-charcoal: #101212;
  --color-charcoal-light: #202222;
}

:root {
  --background: light-dark(#ffffff, #161618);
  --foreground: light-dark(#101212, #dfe0e2);
}

html {
  color-scheme: light dark;
}

html[data-theme='light'] {
  color-scheme: light;
}

html[data-theme='dark'] {
  color-scheme: dark;
}

html {
  background-color: light-dark(#101212, var(--color-charcoal-light));
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: var(--font-body);
  box-shadow: 0 0 0 4px var(--color-brand);
}

@utility link-underline {
  position: relative;
  text-decoration: none;
  white-space: nowrap;
  transition: color 150ms;

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: currentColor;
  }

  &::before {
    height: 1px;
  }

  &::after {
    bottom: -1px;
    height: 2px;
    transform: scaleX(0);
    transition: transform 150ms;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}
