.h1 {
  font-family: var(--font-heading);
  font-size: 2.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

/* edit */
.link {
  color: #ba3e48;
  position: relative;
  text-decoration: none;
  transition: color 150ms;
}

.link:hover {
  color: #d05861;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
  .link {
    color: #d05861;
  }

  .link:hover {
    color: #ff7680;
  }
}

.avatar {
  margin-bottom: 4rem;

  @media (min-height: 1000px) {
    margin-top: -14rem;
  }
}
