@layer typography {
  html {
    font-family: var(--font-body);
    font-size: clamp(16px, 0.735vw + 12.464px, 20px);
    font-weight: 400;
    color: var(--foreground);
  }

  p {
    max-width: 72ch;
  }
}
