@layer typography {
  html {
    font-family: var(--font-body);
    font-size: clamp(16px, 0.735vw + 12.464px, 20px);
    font-weight: 400;
    color: var(--foreground);
  }

  h1,
  h2,
  h3,
  h4,
  .h1,
  .h2,
  .h3,
  .h4 {
    font-family: var(--font-heading);
    font-weight: 600;
    margin-block-start: 0.8em;
    margin-block-end: 0.5em;
  }

  h1,
  .h1 {
    font-size: var(--font-size-h1);
  }

  h2,
  .h2 {
    font-size: var(--font-size-h2);
  }

  h3,
  .h3 {
    font-size: var(--font-size-h3);
  }

  h4,
  .h4 {
    font-size: var(--font-size-h4);
  }

  p,
  .p {
    font-size: var(--font-size-body);
    margin-block-start: 1em;
    margin-block-end: 1.5em;
    max-width: 64ch;
  }

  small,
  .small {
    font-size: var(--font-size-small);
  }
}
