@property --blob-1-x {
  syntax: '<percentage>';
  inherits: true;
  initial-value: -10%;
}

@property --blob-1-y {
  syntax: '<percentage>';
  inherits: true;
  initial-value: -10%;
}

@property --blob-2-x {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 10%;
}

@property --blob-2-y {
  syntax: '<percentage>';
  inherits: true;
  initial-value: -15%;
}

@property --blob-3-x {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 0%;
}

@property --blob-3-y {
  syntax: '<percentage>';
  inherits: true;
  initial-value: 20%;
}

@keyframes blobs {
  0%,
  100% {
    --blob-1-x: -10%;
    --blob-1-y: -10%;
    --blob-2-x: 10%;
    --blob-2-y: -15%;
    --blob-3-x: 0%;
    --blob-3-y: 20%;
  }
  25% {
    --blob-1-x: 15%;
    --blob-1-y: -15%;
    --blob-2-x: 15%;
    --blob-2-y: 25%;
    --blob-3-x: 20%;
    --blob-3-y: 0%;
  }
  50% {
    --blob-1-x: 10%;
    --blob-1-y: 25%;
    --blob-2-x: -10%;
    --blob-2-y: 20%;
    --blob-3-x: 0%;
    --blob-3-y: -20%;
  }
  75% {
    --blob-1-x: -20%;
    --blob-1-y: 5%;
    --blob-2-x: -5%;
    --blob-2-y: -10%;
    --blob-3-x: -20%;
    --blob-3-y: 0%;
  }
}

.container {
  position: fixed;
  z-index: -1;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  animation: blobs 20s linear infinite;
  background-color: var(--background);
  background-attachment: fixed;
}

.blob {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vmin;
  height: 100vmin;
  margin: -50vmin;
  filter: blur(100px);
  /* opacity: 0.52; */
  background: radial-gradient(
    circle,
    light-dark(#ffffff, var(--color-brand-950)),
    transparent 65%
  );
  transform: translate(var(--blob-x), var(--blob-y));
  opacity: 0.2;
}

.blob1 {
  --blob-x: var(--blob-1-x);
  --blob-y: var(--blob-1-y);
}

.blob2 {
  --blob-x: var(--blob-2-x);
  --blob-y: var(--blob-2-y);
}

.blob3 {
  --blob-x: var(--blob-3-x);
  --blob-y: var(--blob-3-y);
}
